
<div class="input-group mb-3 "[ngClass]="{'disabled' : disabled}" class=" {{classes}}" >
    <div class="input-group-prepend "   >
      <span 
            *ngIf="icon"
            [ngClass]="icon" 
            class="btn btn-outline-secondary {{ iconClasses }}"
            [ngStyle]="{'background-color': bgColor, 'color': color, 'border-color': borderColor}"
            
        ></span>
    </div>
    <button 
        [disabled]="disabled"
        type="button"
        (click) = "click()"
        [ngClass]="{'rounded' : !icon}"
        [ngStyle]="{'background': bgColor, 'border-color': borderColor}"
        class="form-control {{ btnClasses }}">{{label}}</button>
  </div>