

input, textarea, select, .form-control
    border: .1vh solid #C29FFA
    background-color: lighten(#6610f2,45%)
    color: darken(#6610f2,30%)
    font-weight: lighter
    font-size: .9rem
label
    color: darken(#adb5bd, 40%)

.disabled
    opacity: 0.7
    pointer-events: none
