::ng-deep .p-inputwrapper
    width: 100%
    text-align: center

::ng-deep ul
    padding-left:0 !important

::ng-deep .p-dropdown-item-group:hover
    background-color: darken(#ffffff, 5%)

.calendar-invalid
    border-bottom:1px solid red

.expansion-title
    letter-spacing: .2vh

::ng-deep .mat-expansion-panel
    width: 100% !important