<form [formGroup] = "loginForm" >
    <h1 class="text-center text-bolder"><strong>{{view}}</strong></h1>


    <div class="d-flex flex-column align-items-center col-10 m-auto">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="prepends-icon">
                <i class="bi bi-person"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Email" formControlName="email" >
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="preprend-icon">
                <i class="bi bi-key"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Password" formControlName ="password">
        </div>

        <small 
          *ngIf="loginForm.invalid && loginForm.touched"
          class="text-danger">Invalid {{loginForm.controls['email'].invalid ? 'email' : 'password'}}
        </small>
    </div>

    <t-button
        icon="bi bi-box-arrow-in-right"
        bgColor="#8271F1"
        color="black"
        borderColor="#aaaaaa"
        btnClasses="py-3 rounded-end-4"
        iconClasses="py-3 rounded-start-4"
        label="LOGIN"
        classes="w-75 m-auto"
        (onClick)="onSubmit()"
        [disabled]="!loginForm.valid && loginForm.touched"
    ></t-button>


    <span 
    (click)="switchView()"
    class="text-primary text-center d-block pointer text-decoration-underline"
    >{{view === "LOGIN" ? "Don't have an account yet?" : "Already registered?"}}</span>
</form>