


::ng-deep .mat-expansion-panel-header-title 


::ng-deep .mat-expansion-panel
    box-shadow: none !important
    background-color: white !important


.list-group
    max-height: 30vh !important
    overflow-y: scroll !important


.restaurant-img
    width: 12.75rem
    height: 7.18rem


.stats-p
    font-size: 1rem
    padding: 0.2rem