<section class="container-fluid d-flex flex-column align-items-center row-gap-4 background-color">
  <main class="container d-flex justify-content-center align-items-start flex-row column-gap-2">
    <!-- PROFILE DETAILS -->
    <div class="col-4 d-flex flex-column align-items-center column-gap-3 py-5 rounded bg-white shadow">
      <div class="d-flex flex-column column-gap-4">
        <t-avatar [name]="user.name + ' ' + user.surname" [size]="140"></t-avatar>
        <p class="fw-bold text-center fs-5 m-0 mt-2">
          {{ user.name }} {{ user.surname }}
        </p>
        <small class="text-center">{{ user.mail }}</small>
      </div>
    </div>

    <ng-container *ngIf="roleService.role === 'customer'; else adminTemplate">
      <!-- PROFILE INFO -->
      <div class="col-8 d-flex flex-column column-gap-3">
        <!-- ORDERS-->
        <div class="py-4 shadow bg-white rounded">
          <mat-expansion-panel (opened)="switchPanelStatus()" (closed)="switchPanelStatus()">
            <mat-expansion-panel-header>
              <mat-panel-title class="text-black font">
                <h1 class="fs-1 my-2">My Orders</h1>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- User reservations history -->
            <ul class="list-group d-flex flex-column row-gap-2">
              <t-reservation-item *ngFor="let item of reservations" [reservation]="item"
                (changes)="getUserReservations()"></t-reservation-item>
            </ul>
          </mat-expansion-panel>
        </div>
      </div>
    </ng-container>
  </main>
  <!-- FAVORITES RESTAURANTS-->
  <ng-container *ngIf="(favoriteRestaurants.length > 0 && !this._isOpened) &&  roleService.role ==='customer' else adminStats  ">
    <div class="d-flex flex-column align-items-center">
      <h1 class="m-0">{{reservations.length > 0 ? 'YOUR FAVORITES' : 'FIND RESTAURANTS'}}</h1>
      <div class="container mt-0">
        <t-card-container [list]="favoriteRestaurants" [width]="'15rem'" [height]="'8.437rem'"></t-card-container>
      </div>
    </div>
  </ng-container>


  <!-- ADMIN TEMPLATE -->

  <ng-template #adminTemplate>
    <section class="d-flex flex-column  container-fluid p-0">
      <div class="col-8 d-flex flex-column column-gap-3 w-100">
        <!-- ORDERS-->
        <div class="py-4 shadow bg-white rounded ">
          <mat-expansion-panel (opened)="switchPanelStatus()" (closed)="switchPanelStatus()">
            <mat-expansion-panel-header>
              <mat-panel-title class="text-black font">
                <h1 class="fs-1 my-2">My Restaurant</h1>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Admin's restaurant -->
            <div class="d-flex flex-row column-gap-2 container-fluid">
              <img [src]="restaurant.banner" class="restaurant-img">
              <app-restaurant-info [role]="'ADMIN'" [restaurant]="restaurant"></app-restaurant-info>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
  
  
    </section>
  </ng-template>
  <ng-template #adminStats>
    <section class="container-fluid d-flex flex-row align-items-center justify-content-center">
      <div class="chart-container" style="width: 50%; height: 350px;" class="border d-flex flex-column row-gap-3">
        <p class="text-center fw-bold stats-p">Restaurant Occupancy for day times</p>
        <t-chart yAxisLabel="Restaurant Occupancy" xAxisLabel="Day Time Stats" [data]="reservationStats" ></t-chart>
      </div>
      <div class="chart-container" style="width: 50%; height: 350px;" class="border d-flex flex-column row-gap-5">
        <p class="text-center fw-bold stats-p">Available Seats Now</p>
        <t-chart yAxisLabel="Restaurant Occupancy" xAxisLabel="Day Time Stats" [data] = "seats" chartType="GAUGE" [maxGaugeValue]="totalSeats"></t-chart>
      </div> 
    
    </section>
  </ng-template>
</section>