<div class="card m-0" [ngStyle]="{'width': width}">
    <img class="card-img-top" [src]="item.img.path" [alt]="item.restaurant.name" [ngStyle]="{'width': width, 'height': height}">
    <div class="card-body">
      <h5 class="card-title fw-bold fs-6 my-0 ">{{item.restaurant.name}}</h5>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title  class="text-secondary-emphasis font">

            <div class="d-flex flex-row justify-content-between w-100 align-items-center m-0">
              <small class="col"><i class="bi bi-geo-alt-fill"></i></small>
              <span class="col-10">
                {{ item.coords.village }}
                {{item.coords.village !== item.coords.county ? ' - ' + item.coords.county : null}}
                ( {{item.coords.county_code}} )
              </span>
              <i class="bi bi-caret-down-fill col"></i>
            </div>
          
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="text-secondary">{{item.restaurant.description}}</p>
      </mat-expansion-panel>

      <t-button
        label="SHOW MORE"
        classes="my-1"
        btnClasses="border bg-blue-200 hover-primary"
        (onClick)="emitClick()"
      ></t-button>
    </div>
</div>