<ng-container *ngIf="roleService.role !=='admin' else adminTemplate">

  <section class="jumbotron d-flex flex-column justify-content-center m-auto p-4 row-gap-3" >
      <div class="bg-secondary-subtle">
        <t-card-container 
          [list]="showNearestRestaurants ? nearestRestaurantsList : restaurantsList" 
          #cardContainer 
          (cardBtnClick)="handleCardBtnClick($event)"
          [circular]="circular">
        </t-card-container>
      </div>
    
      <div>
        <app-searchbar 
          (searchedText)="handleSearchedText($event)"
          (address)="handleSearchbarLocation($event)" 
          (onClear)="handleSearchbarClear()"
          placeholder="Search for restaurants...">
        </app-searchbar>
      </div>
      
      <div class="d-flex flex-row justify-content-center w-100 flex-wrap">
        <t-map [list]="showNearestRestaurants ? nearestRestaurantsList : restaurantsList" #map></t-map>
      </div>
    </section>
    
</ng-container>

<ng-template #adminTemplate>

  <section class="container-fluid d-flex flex-column row-gap-2 ">
    <div class="d-flex flex-row rounded">
      <div class="col-5 ">
        <t-image-slider [images]="images"
          [imageSize]="{width: '100%', height: '50%'}"
          [autoSlide]="{interval: 1, stopOnHover: false}"
        ></t-image-slider>
      </div>
      <div class="col-7 d-flex flex-column row-gap-3 p-3">
        <app-restaurant-info
          [restaurant]="restaurantsList[0]"
          [menus]="menus"
        ></app-restaurant-info>
        <div class="container d-flex flex-row justify-content-start column-gap-3 p-0">

          <t-button
          label="UPDATE"
          icon="bi bi-pen"
          iconClasses="border"
          classes="m-0"
          (onClick)="openModal()"
          ></t-button>
          
        </div>
      </div>
    </div>

    <!-- RESTAURANT RESERVATIONS-->
    <div class="reservation-container px-5 overflow-y-scroll shadow d-flex flex-column ">
      <h1 class="text-center reservation-title bg-white">ALL RESERVATIONS</h1>
      <ul class="list-group d-flex flex-column row-gap-2">
        <t-reservation-item 
          *ngFor="let item of reservations" 
          [reservation]="item"
          [role]="'ADMIN'"
          (changes)="handleReservationModalChanges()"
        ></t-reservation-item>
      </ul>
    </div>
  </section>

</ng-template>
  