    
    
<section class=" jumbotron d-flex flex-column justify-content-center m-auto p-4 row-gap-3">

    <div class="bg-secondary-subtle" >
        <t-card-container [list] = "restaurantsList" #cardContainer (cardBtnClick)="handleCardBtnClick($event)"></t-card-container>
    </div>


    <div >
        <app-searchbar (address)="handleSearchbarLocation($event)" (onClear)="handleSearchbarClear()"></app-searchbar>
    </div>
    
    <div class="d-flex flex-row justify-content-center w-100 flex-wrap">
        <t-map [list] = "restaurantsList" #map></t-map>
    </div>
</section>