<section class="container-fluid bg-light rounded-5 d-flex row w-75 m-auto">
    <div class="col border border-black rounded-start-5">
        <form>
            <h1 class="text-center text-bolder"><strong>LOGIN</strong></h1>


            <div class="d-flex flex-column align-items-center">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="prepends-icon">
                        <i class="bi bi-person"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="preprend-icon">
                        <i class="bi bi-key"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>

            <t-button
                icon="bi bi-box-arrow-in-right"
                bgColor="#8271F1"
                color="black"
                borderColor="#aaaaaa"
                btnClasses="py-3 rounded-end-4"
                iconClasses="py-3 rounded-start-4"
                label="LOGIN"
                classes="w-75 m-auto"
            ></t-button>
        </form>
    </div>



    <!-- IMG -->
    <div class="col border border-black rounded-end-5">

    </div>

</section>