<main class="bg-indigo-100 container-fluid min-vh-100">

    <section class="container-fluid bg-light d-md-flex flex-md-row w-75 m-auto bg-transparent">


        <div class="col flex-row d-flex flex-column justify-content-center form-container bg-white">
            <app-login-form></app-login-form>
        </div>

        <!-- IMG -->
        <div class="col img-container ">
            <img src="https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg" alt="login image" class="rounded-end-5">
        </div>

    </section>
</main>