
$navbar-color: #4050B5
$gray: #c9c9c9
$light-gray: #ededed



    
    
.router-active
    background-color: $light-gray 
    
.example-container 
    display: flex
    flex-direction: column
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0


.example-is-mobile .example-toolbar 
    position: fixed
    z-index: 2


h1.example-app-name 
    margin-left: 8px


.example-sidenav-container 
     flex: 1


.example-is-mobile .example-sidenav-container 
  flex: 1 0 auto

.btn-burger
    background-color: darken($navbar-color, 0%)
    border: none
    color: white

.btn-burger:hover
    color: lighten($navbar-color,40% )


a
    text-decoration: none
    padding: 1vh
    border-bottom: .1vh solid $gray